In [4]:
!pip install pandas
import pandas as pd

Requirement already satisfied: pandas in /opt/anaconda3/envs/a3/lib/python3.8/site-packages (1.3.4)
Requirement already satisfied: pytz>=2017.3 in /opt/anaconda3/envs/a3/lib/python3.8/site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/anaconda3/envs/a3/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.17.3; platform_machine != "aarch64" and platform_machine != "arm64" and python_version < "3.10" in /opt/anaconda3/envs/a3/lib/python3.8/site-packages (from pandas) (1.19.1)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/envs/a3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [5]:
import numpy as np

In [6]:
path = 'classifiedNBAData.csv'
df = pd.read_csv(path, index_col=0).dropna()

In [7]:
df['Date'] = pd.to_datetime(df['Date'])
df['Date'] = df['Date'].map(lambda x: x.date())

In [8]:
df

,Team,Date,Tweet,RF Positive,RF Negative,NB Positive,NB Negative,LR Positive,LR Negative
0,celtics,2021-11-09,RT @Ballislife: 33 YEARS AGO TODAY üêê\nMichael ...,0.543540,0.456460,0.619503,0.380497,0.601381,0.398619
1,celtics,2021-11-09,Coming up at 6 w/ @MutWEEI \n\n‚ñ∂Ô∏è OBJ Watch is...,0.433623,0.566377,0.289138,0.710862,0.196667,0.803333
2,celtics,2021-11-09,"RT @TDISportsClips: November 9, 2013: Jeff Gre...",0.543540,0.456460,0.599150,0.400850,0.607897,0.392103
3,celtics,2021-11-09,Who the f is Thomas lol https://t.co/uWolEgzSQk,0.645119,0.354881,0.637189,0.362811,0.886813,0.113187
4,celtics,2021-11-09,RT @Ballislife: 33 YEARS AGO TODAY üêê\nMichael ...,0.543540,0.456460,0.619503,0.380497,0.601381,0.398619
...,...,...,...,...,...,...,...,...,...
28554,spurs,2021-11-19,@austin_spurs Can we get a #AustinSpurs vs #SA...,0.543540,0.456460,0.651568,0.348432,0.737106,0.262894
28555,spurs,2021-11-19,NBA\n\nFT.\n\nCleveland cavaliers 89 - 104 Gol...,0.543540,0.456460,0.318885,0.681115,0.267862,0.732138
28556,spurs,2021-11-19,Tom Holland fans Spurs?? WKWKWK,0.543540,0.456460,0.592110,0.407890,0.563551,0.436449
28557,spurs,2021-11-19,Spurs lost again? Tf man,0.262794,0.737206,0.207026,0.792974,0.034664,0.965336
28558,spurs,2021-11-19,@NBASTORE @spurs Are the Suns Valley jerseys c...,0.543540,0.456460,0.581559,0.418441,0.717348,0.282652

In [59]:
line_data = df.groupby(['Team', 'Date'])['RF Positive', 'RF Negative', 'NB Positive', 'NB Negative', 'LR Positive', 'LR Negative'].mean()

<ipython-input-59-538e282e9a9e>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  line_data = df.groupby(['Team', 'Date'])['RF Positive', 'RF Negative', 'NB Positive', 'NB Negative', 'LR Positive', 'LR Negative'].mean()

In [65]:
pd.set_option("display.max_rows", 20)
line_data

                    RF Positive  RF Negative  NB Positive  NB Negative  \
Team    Date
76ers   2021-11-09     0.539470     0.460530     0.568530     0.431470
        2021-11-11     0.528350     0.471650     0.546322     0.453678
        2021-11-12     0.517906     0.482094     0.598381     0.401619
        2021-11-13     0.525632     0.474368     0.549326     0.450674
        2021-11-14     0.527335     0.472665     0.564352     0.435648
...                         ...          ...          ...          ...
wizards 2021-11-14     0.544555     0.455445     0.554662     0.445338
        2021-11-15     0.543583     0.456417     0.585499     0.414501
        2021-11-16     0.547020     0.452980     0.580902     0.419098
        2021-11-17     0.560295     0.439705     0.626988     0.373012
        2021-11-19     0.553374     0.446626     0.591938     0.408062

                    LR Positive  LR Negative
Team    Date
76ers   2021-11-09     0.584131     0.415869
        2021-11-11     0.554774     0.445226
        2021-11-12     0.629049     0.370951
        2021-11-13     0.569790     0.430210
        2021-11-14     0.569813     0.430187
...                         ...          ...
wizards 2021-11-14     0.613552     0.386448
        2021-11-15     0.618777     0.381223
        2021-11-16     0.617538     0.382462
        2021-11-17     0.684131     0.315869
        2021-11-19     0.639281     0.360719

[252 rows x 6 columns]

In [98]:
counts = df
counts['RF Positive'] = np.where((df['RF Positive'] >= .5), 1, df['RF Positive'])
counts['RF Positive'] = np.where((df['RF Positive'] < .5), 0, df['RF Positive'])

counts['RF Negative'] = np.where((df['RF Negative'] >= .5), 1, df['RF Negative'])
counts['RF Negative'] = np.where((df['RF Negative'] < .5), 0, df['RF Negative'])

counts['NB Positive'] = np.where((df['NB Positive'] >= .5), 1, df['NB Positive'])
counts['NB Positive'] = np.where((df['NB Positive'] < .5), 0, df['NB Positive'])

counts['NB Negative'] = np.where((df['NB Negative'] >= .5), 1, df['NB Negative'])
counts['NB Negative'] = np.where((df['NB Negative'] < .5), 0, df['NB Negative'])

counts['LR Positive'] = np.where((df['LR Positive'] >= .5), 1, df['LR Positive'])
counts['LR Positive'] = np.where((df['LR Positive'] < .5), 0, df['LR Positive'])

counts['LR Negative'] = np.where((df['LR Negative'] >= .5), 1, df['LR Negative'])
counts['LR Negative'] = np.where((df['LR Negative'] < .5), 0, df['LR Negative'])

counts

for_tweets = counts.copy()

In [99]:
counts = df.groupby(['Team', 'Date'])['RF Positive', 'RF Negative', 'NB Positive', 'NB Negative', 'LR Positive', 'LR Negative'].sum()

<ipython-input-99-cf7ba7606989>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  counts = df.groupby(['Team', 'Date'])['RF Positive', 'RF Negative', 'NB Positive', 'NB Negative', 'LR Positive', 'LR Negative'].sum()

In [100]:
counts = counts.astype({'RF Positive': 'int32', 'RF Negative': 'int32', 'NB Positive': 'int32', 'NB Negative': 'int32', 'LR Positive': 'int32', 'LR Negative': 'int32'})
counts

                    RF Positive  RF Negative  NB Positive  NB Negative  \
Team    Date
76ers   2021-11-09          109           11           85           35
        2021-11-11           78           22           65           35
        2021-11-12          154           46          170           30
        2021-11-13           78           22           65           35
        2021-11-14           88           12           78           22
...                         ...          ...          ...          ...
wizards 2021-11-14           89           11           53           47
        2021-11-15           85           15           73           27
        2021-11-16           88           12           76           24
        2021-11-17           91            9           87           13
        2021-11-19           97            3           74           26

                    LR Positive  LR Negative
Team    Date
76ers   2021-11-09           91           29
        2021-11-11           66           34
        2021-11-12          180           20
        2021-11-13           68           32
        2021-11-14           75           25
...                         ...          ...
wizards 2021-11-14           82           18
        2021-11-15           80           20
        2021-11-16           78           22
        2021-11-17           88           12
        2021-11-19           80           20

[252 rows x 6 columns]

In [101]:
print("Range of num tweets: ", counts['RF Positive'].min(),"-", counts['RF Positive'].max())

Range of num tweets:  42 - 192

In [102]:
counts.to_csv('tweet_counts.csv')

In [103]:
for_tweets

,Team,Date,Tweet,RF Positive,RF Negative,NB Positive,NB Negative,LR Positive,LR Negative
0,celtics,2021-11-09,RT @Ballislife: 33 YEARS AGO TODAY üêê\nMichael ...,1.0,0.0,1.0,0.0,1.0,0.0
1,celtics,2021-11-09,Coming up at 6 w/ @MutWEEI \n\n‚ñ∂Ô∏è OBJ Watch is...,0.0,1.0,0.0,1.0,0.0,1.0
2,celtics,2021-11-09,"RT @TDISportsClips: November 9, 2013: Jeff Gre...",1.0,0.0,1.0,0.0,1.0,0.0
3,celtics,2021-11-09,Who the f is Thomas lol https://t.co/uWolEgzSQk,1.0,0.0,1.0,0.0,1.0,0.0
4,celtics,2021-11-09,RT @Ballislife: 33 YEARS AGO TODAY üêê\nMichael ...,1.0,0.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...
28554,spurs,2021-11-19,@austin_spurs Can we get a #AustinSpurs vs #SA...,1.0,0.0,1.0,0.0,1.0,0.0
28555,spurs,2021-11-19,NBA\n\nFT.\n\nCleveland cavaliers 89 - 104 Gol...,1.0,0.0,0.0,1.0,0.0,1.0
28556,spurs,2021-11-19,Tom Holland fans Spurs?? WKWKWK,1.0,0.0,1.0,0.0,1.0,0.0
28557,spurs,2021-11-19,Spurs lost again? Tf man,0.0,1.0,0.0,1.0,0.0,1.0
28558,spurs,2021-11-19,@NBASTORE @spurs Are the Suns Valley jerseys c...,1.0,0.0,1.0,0.0,1.0,0.0

In [123]:
# subsample 1 positive and 1 negative tweet per team per day
cols = ['Team', 'Date', 'Tweet', 'Sentiment', 'Model']
tweets = pd.DataFrame(columns = cols)
positive_tweets = for_tweets.sort_values('RF Positive').groupby(['Team', 'Date']).last()
negative_tweets = for_tweets.sort_values('RF Negative').groupby(['Team', 'Date']).last()
negative_tweets

                                                                Tweet  \
Team    Date
76ers   2021-11-09     Fuck the 76ers and the beat . Soft fraud teams
        2021-11-11  But kidding aside, I think John Wall could sti...
        2021-11-12  VanVleet, Trent Hit Late 3s as Raptors Past 76...
        2021-11-13  RT @JoeyBurton: Whether it‚Äôs on the road or at...
        2021-11-14  RT @YahooSportsNBA: 76ers assistant coach Dave...
...                                                               ...
wizards 2021-11-14  @Wizards_DnD üëçü¶∑\nHow about a teeth paladin?! W...
        2021-11-15  @TheRedVillage I soooo want one of these wizar...
        2021-11-16  ü§£üò≠ I need all the monies to afford my nerdy ho...
        2021-11-17  RT @hornets: Another buzzin' game at home is o...
        2021-11-19  @WashWizards @RealDealBeal23 @kylekuzma Does B...

                    RF Positive  RF Negative  NB Positive  NB Negative  \
Team    Date
76ers   2021-11-09          0.0          1.0          0.0          1.0
        2021-11-11          0.0          1.0          1.0          0.0
        2021-11-12          0.0          1.0          0.0          1.0
        2021-11-13          0.0          1.0          1.0          0.0
        2021-11-14          0.0          1.0          1.0          0.0
...                         ...          ...          ...          ...
wizards 2021-11-14          0.0          1.0          0.0          1.0
        2021-11-15          0.0          1.0          0.0          1.0
        2021-11-16          0.0          1.0          0.0          1.0
        2021-11-17          0.0          1.0          1.0          0.0
        2021-11-19          0.0          1.0          0.0          1.0

                    LR Positive  LR Negative
Team    Date
76ers   2021-11-09          0.0          1.0
        2021-11-11          1.0          0.0
        2021-11-12          0.0          1.0
        2021-11-13          1.0          0.0
        2021-11-14          1.0          0.0
...                         ...          ...
wizards 2021-11-14          0.0          1.0
        2021-11-15          0.0          1.0
        2021-11-16          0.0          1.0
        2021-11-17          1.0          0.0
        2021-11-19          0.0          1.0

[252 rows x 7 columns]

In [138]:
# positive_tweets.printSchema
rf_positive_tweets = positive_tweets['Tweet'].copy()
rf_positive_tweets.to_csv('rf_positive_tweets.csv')

In [12]:
print(sorted(df['Team'].unique()))

['76ers', 'blazers', 'bucks', 'bulls', 'cavaliers', 'celtics', 'grizzlies', 'hawks', 'heat', 'hornets', 'jazz', 'kings', 'knicks', 'lakers', 'magic', 'mavericks', 'nets', 'nuggets', 'pacers', 'pelicans', 'pistons', 'raptors', 'rockets', 'spurs', 'suns', 'thunder', 'timberwolves', 'wizards']